{% extends "base_generic.html" %}


{% block content %}


<div class="body">


    <div class="bloc">
        <h1>Добавить зерно</h1>
        <button class="buto">Добавить</button>
    </div>
    <div class="bloc">
    <h1>Сколько пришло<br> сегодня:</h1>
    <button class="buto">Узнать</button>
    </div>
    <div class="bloc">
        <h1>Сколько пришло <br> за неделю:</h1>
        <button class="buto">Узнать</button>
        </div>
    <div class="bloc">
        <h1>Сколько пришло<br> за месяц:</h1>
        <button class="buto">Узнать</button>
    </div>
</div>
{% endblock %}